.p{
  font-size: 30px;
  font-weight:600;
  margin-bottom: 0%;
  margin-left: 30px;
}
.h2{
  font-size: 30x;
  color: #189DB3;
  font-weight: 600;
  margin-top: 0%;
  margin-left: 30px;
}
.container{
  background-image: url(/assets/img/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.btn{
  margin-top: 200px;
  margin-left: 30px;
  height: 50px;
  border-radius: 9px;
  background-color: #189DB3;
  color: white;
  font-size: 20px;
  font-weight: 700;
  width: 110px;
}
.btn2{
  margin-top: 200px;
  margin-left: 1px;
  height: 50px;
  border-radius: 9px;
  background-color: white;
  color: gray;
  font-size: 20px;
  font-weight: 700;
  width: 110px;
}
