.head{
  background-color: rgb(17, 17, 49);
  display: flex;
  padding: 5px;
  .img{
    width: 10px;
    margin-right: 5px;
  }
}
.division { /* Permite que las divisiones se expandan para llenar el espacio disponible */ /* Establece la altura de las divisiones *//* Establece el color de fondo de las divisiones */
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:x-small;
  margin-right: 5px;
    .img{
      width: 10px;
      margin-right: 5px;
    }
}
.img{
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

