.head{
  background-color: #20363D;
  display:flex;
  justify-content: space-between;
  padding: 10px;
}
.division { /* Permite que las divisiones se expandan para llenar el espacio disponible */ /* Establece la altura de las divisiones *//* Establece el color de fondo de las divisiones */
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:x-small;
  margin-right: 10px;
    .svg{
      margin-right: 7px;
    }
}
.svg{
  margin-right: 5px;
}

